.title{
    color:white;
    background: linear-gradient(to bottom, black, transparent);
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    border-width: 15px;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.title button{
    max-width: max-content;
    border: 0px;
    padding: 4px 16px;
    border-radius: 10px;
    font-size: 1.2rem;
}

body{
    background-color:#9CABBF;
    font-family:Helvetica, sans-serif;
    margin: 0;
}

div{
    display: flex;
    justify-content:center;
    overflow-x: scroll;
}

table{
    text-align: center;
    font-size: medium;
    border-width: 15px;
    border: solid black;
    color:white;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 16px 8px #00000066;
    transition: 0.2s;
    margin: 32px 0;
}

thead{
    font-weight: bolder;
    font-size: x-large;
}

tbody tr{
    background-color:#245aa2;
    transition: 0.2s;
}

tbody tr:nth-child(odd){
    background-color: #1a5399;
    transition: 0.2s;
}

thead tr{
    background-color: #d20d2a;
    transition: 0.2s;
}

thead th{
    padding: 16px 24px;
    border-right: 1px solid black;
}
thead th:last-child{
    border-right: 0;
}

tbody td{
    padding: 10px 8px;
    transition: 0.2s;
}

tr:hover td{
    padding: 16px 8px;
}
tr:hover td:last-child{
    color: black;
}

a{
    color:white;
}

a:link { 
    text-decoration: none; 
} 

a:visited { 
    text-decoration: none;
} 

a:hover { 
    text-decoration: none; 
} 

a:active { 
    text-decoration: none; 
}

td{
    font-weight:bold;
}

.sauber:hover{
    color:#39ff14;
}

.williams:hover{
    color:blue;
}

.alpine:hover{
    color:hotpink;
}

.haas:hover{
    color:lightgray;
}

.ferrari:hover{
    color:#e10600;
}

.red_bull:hover{
    color: #1434cb;
}

.aston_martin:hover{
    color:#00665e;
}

.mercedes:hover{
    color:#00f5d0;
}

.mclaren:hover{
    color:orange;
}

.rb:hover{
    color: #1434cb;
}

.audi:hover{
    color:#e10600;
}

footer{
    background: linear-gradient(to bottom,#ff0000 0%, #ff7e00 50%, #fffe00  100%);
    text-align: center;
    color: linear-gradient(to top, black, white);
}

footer h1{
    margin: 2rem 0;
    margin-bottom: 0;
    padding: 2rem 8px;
    text-shadow: -3px 5px 10px white;
}

button{
    background-color: black;
    color: white;
}



/* Dark Mode Styles */


body.darkmode tbody tr{
    background-color:#233245;
}

body.darkmode tbody tr:nth-child(odd){
    background-color:#192534;
}

body.darkmode thead tr{
    background-color: #a50d24;
}

body.darkmode tr:hover td:last-child{
    color: #0081ff;
}

body.darkmode{
    background-color:#1e1e1e;
}

body.darkmode .title{
    color:white;
    background: linear-gradient(to bottom, black, transparent);
}

body.darkmode button{
    background-color: white;
    color: black;
}

body.darkmode footer{
    color: linear-gradient(to bottom, black, white);
    background: linear-gradient(to top, #00ffff 0%, #0081ff 50%, #0001ff 100%);
}